// Place all the styles related to the deposits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.deposit{
width: 270px;
margin: 12px;
float: left;
overflow: hidden;
position: relative;
color: #222;
-webkit-border-radius: 1.2em;
-moz-border-radius: 1.2em;
border-radius: 1.2em;
background-color: #323c45;
background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(50, 60, 69)), to(rgb(40, 49, 56)));
background-image: -webkit-linear-gradient(top, rgb(50, 60, 69), rgb(40, 49, 56));
background-image: -moz-linear-gradient(top, rgb(50, 60, 69), rgb(40, 49, 56));
background-image: -o-linear-gradient(top, rgb(50, 60, 69), rgb(40, 49, 56));
background-image: -ms-linear-gradient(top, rgb(50, 60, 69), rgb(40, 49, 56));
background-image: linear-gradient(top, rgb(50, 60, 69), rgb(40, 49, 56));
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#323c45', EndColorStr='#283138');
-moz-box-shadow: 0 3px 3px rgba(255,255,255,.1), 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 5px #444;
-webkit-box-shadow: 0 3px 3px rgba(255,255,255,.1), 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 5px #444;
box-shadow: 0 3px 3px rgba(255,255,255,.1), 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 5px #444;
}
#deposit_top {
padding:11px 15px 0 15px;
border-top-left-radius:.6em;
border-top-right-radius:.6em;
height:33px;
background-color: #b3d53f;
background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(179, 213, 63)), to(rgb(123, 161, 1)));
background-image: -webkit-linear-gradient(top, rgb(179, 213, 63), rgb(123, 161, 1));
background-image: -moz-linear-gradient(top, rgb(179, 213, 63), rgb(123, 161, 1));
background-image: -o-linear-gradient(top, rgb(179, 213, 63), rgb(123, 161, 1));
background-image: -ms-linear-gradient(top, rgb(179, 213, 63), rgb(123, 161, 1));
background-image: linear-gradient(top, rgb(179, 213, 63), rgb(123, 161, 1));
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#b3d53f', EndColorStr='#7ba101');


}
#deposit_desc {
padding:15px;
height:70px;
background-color: #dce1d1;
background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(220, 225, 209)), to(rgb(216, 218, 231)));
background-image: -webkit-linear-gradient(top, rgb(220, 225, 209), rgb(216, 218, 231));
background-image: -moz-linear-gradient(top, rgb(220, 225, 209), rgb(216, 218, 231));
background-image: -o-linear-gradient(top, rgb(220, 225, 209), rgb(216, 218, 231));
background-image: -ms-linear-gradient(top, rgb(220, 225, 209), rgb(216, 218, 231));
background-image: linear-gradient(top, rgb(220, 225, 209), rgb(216, 218, 231));
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#dce1d1', EndColorStr='#d8dae7');
border-bottom-left-radius:.7em;
border-bottom-right-radius:.7em;
border-bottom:1px solid #666d78;
box-shadow:0px 1px 0px #454d59;
}
#deposit_bottom {

height:45px;
border-bottom-left-radius:1.2em;
border-bottom-right-radius:1.2em;
padding:5px;
}
#deposit_cat {
float:left;
}
#deposit_amnt{
float:right;
font-family:helvetica;
font-size:25px;
margin-top: -7px;
font-weight:bold;
color: #698928;
text-shadow: rgba(0,0,0,0.4) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.1) 0 1px, rgba(0,0,0,0.3) -1px 0px;
}
.deposit h1 {
color:#fefefc;
font-size:17px;
text-shadow:0px 1px 0px #86a106;
font-family:arial;
font-weight:bold;
margin-bottom:0px;
line-height:23px;
}
#dep_form input{

}
input, textarea, select {
padding: 9px;
border: solid 1px #E5E5E5;
outline: 0;
font: normal 13px/100% Verdana, Tahoma, sans-serif;
width: 200px;
background: white url('bg_form.png') left top repeat-x;
background: -webkit-gradient(linear, left top, left 25, from(white), color-stop(4%, #EEE), to(white));
background: -moz-linear-gradient(top, white, #EEE 1px, white 25px);
box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
}