body {
	padding:40px 20px 20px 20px;
	background:#d9dce0 url('http://designshack.net/images/bgtry.png');
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
}
#container {
	padding: 5px;
}
